@mixin photo {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
}

// MEDIA QUERY MANAGER // 
 
@mixin respond($breakpoint) { 
    @if $breakpoint == phone {
        @media only screen and (max-width: 36em) { @content };    //576px sm
    }
    @if $breakpoint == tab {
        @media only screen and (max-width: 48em) { @content };    //768px md
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 62em) { @content };     //992px lg
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px xl
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 87.5em) { @content };    //1400 xxl
    }
}
