// COLORS
$color-text: #494949; 

$color-primary: #6d308d; //heading, nav, overlay 
$color-background: #edeaee; //text boxes
$color-overlay: rgba(80, 62, 88, 0.7);
$color-cta: #568946;
$color-footer: #4e325c;

$color-white: #ffffff;
$color-black: #000000;

// FONT
$default-font-size: 1.6rem;  