.footer {
    background-color: $color-footer;
    padding-top: 2.5rem;

    & a {
        font-size: 1.7rem;
        font-family: "Roboto", sans-serif;
        color: $color-white !important;
        font-weight: 400;     
        text-decoration: none;
        text-transform: uppercase;
    }

    & li {
        list-style-type: none;
        padding-bottom: 2rem;
    } 

    &__facebook {
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background: $color-white;
        color: $color-footer;
    }

    & li a span {
        text-transform: lowercase;
    }

    & .capitalize {
        text-transform: capitalize !important;
    }

    & .underline {
        text-decoration: underline;
    }
}

.ta-r {
    text-align: right;
}

.ta-c {
    text-align: center;
}

.pb-s {
    padding-bottom: 1rem !important;
}

@include respond(tab-port) {
    .footer .col-sm-3 {
        text-align: center;
    }

    .footer ul {
        padding-left: 0;
    }

    .footer__facebook {  
        display: block;
        margin: 0 auto;
    }

    .footer li {
        text-align: center;
    }

    .footer pb-s {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 992px) {
    .footer .col-xl-3 {
        width: 25%;
    }
}